<p>Añadir Comentario:</p>

<form method="POST" action="/quizes/<%=quizId%>/comments/">
	<input type="text" id="comment" name="comment[texto]" value="" placeholder="Nuevo comentario"/>
	<p><button type="submit">Enviar</button></p>
</form>